requests
pandas
numpy
openpyxl
xlrd
streamlit
streamlit-extras
streamlit-js-eval>=1.0.0
plotly
pydeck>=0.8.0
matplotlib
beautifulsoup4
Pillow
astropy
astroquery
sgp4
sscws
OWSLib
cartopy
shapely
pyproj
google-genai
grokipedia-api
langchain-core
langchain-community
langchain-googledrive
arxiv
wikipedia
playwright
websocket-client
langchain-text-splitters
langchain-openai
langchain-google-genai
langchain-mistralai
langchain-huggingface
langchain-chroma
langchain-pinecone
sentence-transformers
chromadb
pinecone
llama-cpp-python
unstructured
pyreadline3; sys_platform == "win32"
